@use "../../sass/index.scss" as *;

.user_education_container {
  margin-top: 150px;
  margin-left: 150px;
  .user_school {
    margin-bottom: 40px;
    label {
      font-family: $style;
      font-style: $f-sty;
      font-weight: $f-weight;
      font-size: 26px;
      display: flex;
    }
    input {
      margin-top: 10px;
      width: 85%;
      height: 50px;
    }
  }
  .user_education_time {
    margin-top: 50px;
    font-family: $style;
    font-style: $f-sty;
    font-weight: $f-weight;
    font-size: 26px;
    @include flex("", space-between);
    select {
      width: 350px;
      height: 48px;
      background: #ffffff;
      border-radius: 4px;
      margin-top: 10px;
      font-size: 20px;
    }
    .user_end_date {
      margin-left: 50px;
    }
    input {
      margin-top: 10px;
      width: 350px;
      height: 48px;
      background: #ffffff;
      border-radius: 4px;
    }
  }
  .user_description {
    font-family: $style;
    font-style: $f-sty;
    font-weight: $f-weight;
    header {
      margin-top: 50px;
      font-size: 26px;
    }
    textarea {
      width: 85%;
      height: 183px;
      background: #ffffff;
      border: 1px solid #bcbcbc;
      border-radius: 4px;
      margin-top: 20px;
      font-size: 26px;
    }
  }
}
.redberry_link {
  bottom: 200px;
  left: 150px;
  position: $abs;
  width: 200px;
  background: #62a1eb;
  border-radius: 4px;
  height: 50px;
  div {
    @include flex(center, center);
    color: white;
    font-size: 35px;
  }
}

.stepper {
  @include flex(center, space-between);
  .back {
    @include flex(center, center);
    padding: 18px 60px;
    font-size: 20px;
    position: $abs;
    width: 150px;
    height: 48px;
    left: 15%;
    bottom: 50px;
    background: #6b40e3;
    border-radius: 4px;
    color: $wh;
    cursor: $curs;
  }
}
