@use "../../sass/index.scss" as *;

.userInfo_container {
  min-height: 100vh;
  display: flex;
  .left {
    width: 80vw;
    background: $background;
    position: $rel;
    .navbar {
      @include flex(center, space-around);
      width: 50%;
    }
    .vector {
      position: $abs;
      width: 9.21px;
      height: 16px;
      left: 62px;
      top: 57px;
      cursor: $curs;
      &:hover {
        background: #fff;
        transform: scale(1.1);
      }
    }
    .personal_info {
      position: $abs;
      width: 179px;
      height: 29px;
      left: 149px;
      top: 47px;
      font-family: $style;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }
    .page_point {
      position: $abs;
      width: 29px;
      height: 24px;
      left: 620px;
      top: 49px;
      font-family: $style;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
    }
    hr {
      position: $abs;
      width: 75%;
      border: 1px solid #1a1a1a;
      top: 89px;
      left: 140px;
    }
    .userInfo_left {
      margin-top: 120px;
      .inputs {
        position: $abs;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        left: 100px;
        label {
          display: flex;
          font-weight: 800;
          font-size: 28px;
          margin: 5px;
        }
        input {
          width: 350px;
          height: 40px;
        }
      }
    }
    .add_photo {
      position: $abs;
      font-size: 28px;
      margin-top: 150px;
      left: 150px;
      button {
        border: none;
        background: #0e80bf;
        width: 107px;
        height: 27px;
        border-radius: 4px;
        color: $wh;
      }
    }

    .about_yourself {
      position: $abs;
      margin-top: 240px;
      left: 150px;
      h1 {
        font-size: 28px;
      }
      input {
        width: 798px;
        height: 103px;
        margin-top: 10px;
      }
    }
  }
  .right {
    width: 50vw;
    background: $wh;
  }
}
