@use "../../sass/index.scss" as *;

//Bad sass :(
.userInfo_container {
  min-height: 100vh;
  display: flex;
  .left {
    width: 60vw;
    background: $background;
    position: $rel;
    .navbar {
      @include flex(center, space-around);
      width: 50%;
    }
    .vector {
      position: $abs;
      width: 9.21px;
      height: 16px;
      left: 82px;
      top: 57px;
      cursor: $curs;
      &:hover {
        background: #fff;
        transform: scale(1.1);
      }
    }
    .personal_info {
      position: $abs;
      width: 179px;
      height: 29px;
      left: 149px;
      top: 47px;
      font-family: $style;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }
    .page_point {
      position: $abs;
      width: 29px;
      height: 24px;
      left: 620px;
      top: 49px;
      font-family: $style;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
    }
    .underline {
      position: $abs;
      width: 75%;
      border: 1px solid $bl;
      top: 89px;
      left: 140px;
    }
    .userInfo_left {
      margin-top: 120px;
      .inputs {
        position: $abs;
        @include flex("", space-around);
        flex-direction: row;
        width: 80%;
        left: 90px;
        label {
          display: flex;
          font-weight: 800;
          font-size: 28px;
          margin: 5px;
        }
        input {
          width: 350px;
          height: 40px;
        }
      }
    }
    .add_photo {
      position: $abs;
      font-size: 28px;
      margin-top: 150px;
      left: 140px;
    }
    .user_photo {
      @include flex(center, center);
      position: $abs;
      font-size: 20px;
      margin-top: 160px;
      left: 500px;
      border: none;
      background: #0e80bf;
      width: 107px;
      height: 27px;
      border-radius: 4px;
      color: $wh;
    }

    .about_yourself {
      position: $abs;
      margin-top: 240px;
      left: 150px;
      h1 {
        font-size: 28px;
      }
      input {
        width: 708px;
        height: 110px;
        margin-top: 10px;
      }
    }
    .email {
      position: $abs;
      margin-top: 440px;
      left: 150px;
      h1 {
        font-size: 28px;
      }
      input {
        width: 708px;
        height: 53px;
        margin-top: 10px;
      }
    }
    .mobile {
      position: $abs;
      margin-top: 600px;
      left: 150px;
      h1 {
        font-size: 28px;
      }
      input {
        width: 708px;
        height: 53px;
        margin-top: 10px;
      }
    }
    .next {
      @include flex(center, center);
      padding: 18px 60px;
      font-size: 20px;
      position: $abs;
      width: 251px;
      height: 48px;
      left: 70%;
      bottom: 50px;
      background: #6b40e3;
      border-radius: 4px;
      color: $wh;
      cursor: $curs;
    }
  }
  .cv_container {
    width: 50vw;
    background: $wh;
  }
}

//mostly
.error_message {
  color: $error-color;
  display: flex;
  font-size: 20px;
}
.invalidInput {
  border: $invalid;
}

input::placeholder {
  font-size: 25px;
}

input {
  font-size: 25px;
}
