//positions
$abs: absolute;
$rel: relative;

//size
$max-content: 100%;

//font
$style: "Helvetica Neue";
$f-sty: normal;
$f-weight: 500;

//curs
$curs: pointer;

//colors
$wh: #fff;
$bl: #1a1a1a;
$background: #f9f9f9;
$invalid: 1px solid red;
$redberry-color: #f93b1d;
$error-color: red;
