//positions
$abs: absolute;
$rel: relative;

//size
$max-content: 100%;

//font
$style: "Helvetica Neue";

$curs: pointer;

//colors
$wh: #fff;
$bl: black;
$background: #F9F9F9;
$invalid: 1px solid red;