//positions
$abs: absolute;
$rel: relative;

//size
$max-content: 100%;

//font
$style: "Helvetica Neue";
$f-sty: normal;


$curs: pointer;

//colors
$wh: #fff;
$bl: black;
$background: #f9f9f9;
$invalid: 1px solid red;
$redberry-color: #f93b1d;
