@use "../../sass/index.scss" as *;

.cv_container {
  margin-top: 80px;
  margin-left: 30px;
  .joined_user_profile {
    position: $abs;
    width: 260px;
    height: 260px;
    right: 50px;
    top: 130px;
    border-radius: 133px;
    background: none;
  }
  hr {
    width: 90%;
  }
  header {
    font-size: 28px;
    color: $redberry-color;
    font-family: $style;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .user_ {
    display: flex;
    color: $redberry-color;
    font-family: $style;
    font-style: $f-sty;
    font-weight: 700;
    font-size: 28px;
    .joined_user_surname {
      position: $rel;
      left: 30px;
    }
  }
  .user_communication {
    margin-top: 40px;
    .joined_user_email {
      font-family: $style;
      font-style: $f-sty;
      font-weight: 400;
      font-size: 25px;
      color: #1a1a1a;
      margin-bottom: 20px;
      display: flex;
      img {
        background: none;
        width: 20px;
      }
    }
  }
  .joined_user_about {
    font-family: $style;
    font-style: $f-sty;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .experience_container {
    .user_description {
      color: #0000;
      margin-top: 10px;
      font-weight: 800;
      font-size: 20px;
    }
    title {
      color: $redberry-color;
      font-family: $style;
      font-style: $f-sty;
      font-weight: 900;
      font-size: 18px;
    }
    .user_position {
      display: flex;
      color: off black;
      font-family: $style;
      font-style: $f-sty;
      font-weight: 900;
      font-size: 25px;
      .user_employer {
        margin-left: 5px;
      }
    }
    .user_start_date {
      display: flex;
      color: #909090;
      font-family: $style;
      font-style: $f-sty;
      font-weight: 900;
      font-size: 20px;
      margin-top: 10px;
      .user_last_date {
        margin-left: 5px;
      }
    }
    .user_added_description {
      width: 662px;
      text-transform: capitalize;
      font-family: $style;
      font-style: $f-sty;
      font-weight: 900;
      font-size: 23px;
      margin-top: 25px;
      text-transform: capitalize;
      color: #000000;
      margin-bottom: 20px;
    }
  }
}
