@use "../../sass/index.scss" as *;

.userExperience_left {
  margin-top: 150px;
  margin-left: 150px;
  font-size: 40px;
  .stepper {
    @include flex(center, space-between);
    .back {
      @include flex(center, center);
      padding: 18px 60px;
      font-size: 20px;
      position: $abs;
      width: 150px;
      height: 48px;
      left: 15%;
      bottom: 50px;
      background: #6b40e3;
      border-radius: 4px;
      color: $wh;
      cursor: $curs;
    }
  }

  .user_position {
    margin-bottom: 50px;
    label {
      font-family: $style;
      font-style: $f-sty;
      font-weight: $f-weight;
      font-size: 26px;
      display: flex;
    }
    input {
      margin-top: 10px;
      width: 85%;
      height: 50px;
    }
  }
  .user_employer {
    label {
      font-family: $style;
      font-style: $f-sty;
      font-weight: $f-weight;
      font-size: 26px;
    }
    input {
      margin-top: 10px;
      width: 85%;
      height: 50px;
      @include flex("", "");
    }
  }
  .user_description {
    textarea {
      width: 85%;
      height: 150px;
      background: #ffffff;
      border: 1px solid #bcbcbc;
      border-radius: 4px;
      margin-top: 20px;
      font-family: $style;
      font-style: $f-sty;
      font-weight: $f-weight;
      font-size: 26px;
    }
  }
  header {
    margin-top: 80px;
    font-family: $style;
    font-style: $f-sty;
    font-weight: $f-weight;
    font-size: 26px;
  }
}

.user_dates {
  margin-top: 50px;
  font-family: $style;
  font-style: $f-sty;
  font-weight: $f-weight;
  font-size: 26px;
  @include flex("", space-between);
  .end_date {
    margin-left: 50px;
  }
  input {
    margin-top: 10px;
    width: 301px;
    height: 48px;
    background: #ffffff;
    border-radius: 4px;
  }
}

.decorate {
  margin-top: 5%;
  border: 1px solid $bl;
  margin-left: 150px;
  width: 75%;
}
