@use "../../sass/index.scss" as *;

.userExperience_left {
  margin-top: 150px;
  margin-left: 150px;
  font-size: 40px;

  .user_position {
    margin-bottom: 50px;
    label {
      font-family: $style;
      font-style: $f-sty;
      font-weight: 500;
      font-size: 26px;
      display: flex;
    }
    input {
      margin-top: 10px;
      width: 698px;
      height: 48px;
    }
  }
  .user_employer {
    label {
      font-family: $style;
      font-style: $f-sty;
      font-weight: 500;
      font-size: 26px;
    }
    input {
      margin-top: 10px;
      width: 698px;
      height: 48px;
      @include flex("", "");
    }
  }
  .user_description {
    input {
      width: 798px;
      height: 123px;
      background: #ffffff;
      border: 1px solid #bcbcbc;
      border-radius: 4px;
      margin-top: 20px;
    }
  }
  header {
    margin-top: 80px;
    font-family: $style;
    font-style: $f-sty;
    font-weight: 500;
    font-size: 26px;
  }
  .more_experience {
    position: $abs;
    bottom: 100px;
    @include flex(center, center);
    padding: 18px 30px;
    gap: 20px;
    width: 289px;
    height: 48px;
    background: #62a1eb;
    border-radius: 4px;
    color: $wh;
    font-size: 16px;
  }
}

.user_dates {
  margin-top: 50px;
  font-family: $style;
  font-style: $f-sty;
  font-weight: 500;
  font-size: 26px;
  @include flex("", space-between);

  .end_date {
    margin-left: 50px;
  }
  input {
    margin-top: 10px;
    width: 371px;
    height: 48px;
    background: #ffffff;
    border-radius: 4px;
  }
}
.invalidInput {
  border: $invalid;
}
